Predict the values of unspecified ratings of user 2 using user-based collaborative

filtering algorithms, using (i) cosine similarity.

In [2]:
import numpy as np
import pandas as pd
from scipy.linalg import svd
from surprise.model_selection import train_test_split
from surprise import Reader, Dataset
from surprise import SVD, accuracy
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
d= {'Item ID 1': [5,4,'null',7,1],
    'Item ID 2': [6,'null',3,4,'null'], 
    'Item ID 3': [7,5,4,3,3], 
    'Item ID 4': [4,'null',1,6,2], 
    'Item ID 5': [3,5,1,'null',2], 
    'Item ID 6': ['null',4,'null',4,5] }

In [4]:
df = pd.DataFrame(data= d)
df

  Item ID 1 Item ID 2  Item ID 3 Item ID 4 Item ID 5 Item ID 6
0         5         6          7         4         3      null
1         4      null          5      null         5         4
2      null         3          4         1         1      null
3         7         4          3         6      null         4
4         1      null          3         2         2         5

In [5]:
df['Item ID 1'] = df['Item ID 1'].replace({'null':np.nan}).astype(float)
df['Item ID 2'] = df['Item ID 2'].replace({'null':np.nan}).astype(float)
df['Item ID 4'] = df['Item ID 4'].replace({'null':np.nan}).astype(float)
df['Item ID 5'] = df['Item ID 5'].replace({'null':np.nan}).astype(float)
df['Item ID 6'] = df['Item ID 6'].replace({'null':np.nan}).astype(float)

In [6]:
df["Item ID 1"] = df["Item ID 1"].fillna(0)
df["Item ID 2"] = df["Item ID 2"].fillna(0)
df["Item ID 4"] = df["Item ID 4"].fillna(0)
df["Item ID 5"] = df["Item ID 5"].fillna(0)
df["Item ID 6"] = df["Item ID 6"].fillna(0)

In [7]:
df

   Item ID 1  Item ID 2  Item ID 3  Item ID 4  Item ID 5  Item ID 6
0        5.0        6.0          7        4.0        3.0        0.0
1        4.0        0.0          5        0.0        5.0        4.0
2        0.0        3.0          4        1.0        1.0        0.0
3        7.0        4.0          3        6.0        0.0        4.0
4        1.0        0.0          3        2.0        2.0        5.0

In [8]:
user_based_user2 = cosine_similarity(df, Y= None)[:,1]

In [9]:
item_based_user2 = cosine_similarity(df.T, Y= None)[:,1]

In [10]:
data_array = df.values

In [11]:
data_array

array([[5., 6., 7., 4., 3., 0.],
       [4., 0., 5., 0., 5., 4.],
       [0., 3., 4., 1., 1., 0.],
       [7., 4., 3., 6., 0., 4.],
       [1., 0., 3., 2., 2., 5.]])

In [12]:
user_based_user2

array([0.66531027, 1.        , 0.53131393, 0.58044331, 0.82519184])

In [13]:
sorted_similarities_user = np.argsort(np.array(user_based_user2))

In [14]:
sorted_similarities_item = np.argsort(np.array(item_based_user2))

In [15]:
def user_based_user2_ratings(userId, itemId, index_of_similarities, similarities):
    neighbours = 0
    weighted_ratings = 0
    sum_weights = 0
    
    for i in range(len(index_of_similarities)-2, -1, -1):
        if neighbours < 2 and data_array[index_of_similarities[i]][itemId] != 0:
            weighted_ratings += similarities[index_of_similarities[i]]*data_array[index_of_similarities[i]][itemId]
            sum_weights += similarities[index_of_similarities[i]]
            neighbours += 1
    rating = weighted_ratings/sum_weights
    return rating

User based rating for user 2, item 2 using cosine similarity

In [16]:
user_based_user2_ratings(1, 1, sorted_similarities_user, user_based_user2)

5.068124997038463

User based rating for user 2, item 4 using cosine similarity

In [17]:
user_based_user2_ratings(1, 3, sorted_similarities_user, user_based_user2)

2.892733081351295

In [18]:
def item_based_user2_ratings(userId, itemId, index_of_similarities, similarities):
    neighbours = 0
    weighted_ratings = 0
    sum_weights = 0
    
    for i in range(len(index_of_similarities)-3, -1, -1):
        if neighbours < 2 and data_array.T[index_of_similarities[i]][userId] != 0:
            weighted_ratings += similarities[index_of_similarities[i]]*data_array.T[index_of_similarities[i]][userId]
            sum_weights += similarities[index_of_similarities[i]]
            neighbours += 1
    rating = weighted_ratings/sum_weights
    return rating

Item based rating for user 2, item 2 using cosine similarity

In [19]:
item_based_user2_ratings(1, 1,sorted_similarities_item, item_based_user2)

4.510892244281176

Item based rating for user 2, item 4 using cosine similarity

In [22]:
item_based_user2_ratings(1, 3,sorted_similarities_item, item_based_user2)

4.510892244281176